.h1{
    font-size:68px;
    color:#2d82eb;
}

.h2{
    font-size:42px;
    color:#03ffab;
}

.btn{
    border:none;
    border-radius:12px;
    background-color:#0c50c7;
    font-size:70px;
}

img{
    border-radius:22px;
}
